@charset "UTF-8";


/* 戻る画像ボタン */
	.back_button {
		width: 40px;
		float: right;
		margin-top:-100px;
	}
	.back_text {
		font-size: 10px;
		float: right;
		margin-top:-100px;
	}
	/* ○ページ目 */
	.page_count {
		text-align: center;
	}