@charset "UTF-8";

#logo {
	text-align: center;
}

.label {
	color:orange;
	font-weight:bold;
	font-size:50px;
	display: block;
	text-align: center;
}
/* 入力欄 */
input[type="text"],
input[type="password"] {
  display: block;
  margin: 10px auto; /* 中央に寄せる */
  font-size: 30px;
  width: 300px;
  height: 50px;
  padding: 5px 10px;
  border-radius: 8px;
}    

/* ボタン */
input[type="submit"],
input[type="reset"] {
	
	margin: 10px auto;
 	font-size: 24px;
  	padding: 10px 20px;
  	border-radius: 8px;	
}
.wrapper {
	text-align: center;
}


.era- {
	text-align:center;
}