@charset "UTF-8";


#logo{
	text-align: center;
	border-bottom: 5px dashed orange;
}
/* 戻る画像ボタン */
.back_button {
	width: 40px;
	float: right;
	margin-top:-80px;
}
.back_text {
	font-size: 10px;
	float: right;
	margin-top:-80px;
}
#Nregi {
	text-align: center;
	color:orange;
	font-weight:bold;
	font-size:40px;
}

#newregi_form {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

table {
    width: 100%;
    border-spacing: 10px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

