@charset "UTF-8";

#logo{
	text-align: center;
	border-bottom: 5px dashed orange;
}
#Nregi {
	text-align: center;
	color:orange;
	font-weight:bold;
	font-size:40px;
}

#newregi_form {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

#newregi_form table {
  width: 100%;
  border-spacing: 15px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}
