@charset "UTF-8";



h1 a{
	color: orange;
}
h2{
	color:orange;
}
a:hover{
	color: orange;
}

.name{
	color: orange;
}

.dogphoto, .dogname, .name {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

