@charset "UTF-8";
h1 {
	color:orange;
}
/* 戻る画像ボタン */
	.back-option {
  position: absolute;      /* 画面上の位置を絶対指定 */
  top:200px;               /* 上から10px */
  right: 10px;             /* 右から10px */
  font-size: 12px;         /* テキストを小さく */
  display: flex;
  align-items: center;
  gap: 5px;                /* 画像との間に隙間 */
  z-index: 1000;           /* 上に表示されるようにする */
}

.back-option img {
  width: 40px;             /* 小さめサイズに変更 */
  height: 40px;
}


	  .color-option {
	    display: flex;
	    gap: 20px;
	    margin: 20px 0;
	  }
	
	  .color-option input[type="radio"] {
	    display: none;
	  }
	
	  .color-label {
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    display: inline-block;
	    cursor: pointer;
	    border: 3px solid transparent;
	  }
	
	  /* 色ごとの背景 */
		.color-black { background-color: #444443; }
		.color-yellow { background-color: #EBD469; }
		.color-brown { background-color: #AD795B; }
		.color-brownred { background-color: #A44F30; }
		.color-red { background-color: #A52A2A; } 
	
	  /* 選択されたときの枠線 */
	  input[type="radio"]:checked + .color-label {
	    border-color: white;
	    transform: scale(1.5);/*拡大*/
	  }