@charset "UTF-8";


h1 {
	color:orange;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* 横方向中央揃え */
}


#next-prev-button {
    margin-bottom: 15px;
}

#header-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* ボタンと文字の間隔 */
}

#header {
    margin: 0;
    font-size: 24px;
}

#calendar {
    margin-top: 20px;
}

